body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}
.left {
  float: left;
}
.right {
  float:right;
}

.card {
  width: 45%;
  display: block;
}
p , .card-text {
  text-align: start;
  padding-left: 31.6%;
  padding-right: 30px;
}

.card-title {
  padding-left: 31.6%;
}
.tile-image {
  float: left;
  width: 300px;
  height: 200px;
}
.creative {
  color: navy;
}

footer > p {
  text-align: end;
  padding: 0px;
}

